@media (max-width: 800px) {
    #nav .items {
        display: block;
        padding: 0px;
    }

    #nav .items .item {
        display: block;
        padding: 0px;
    }

    #nav .items .item a {
        display: block;

    }
}