<div id="pagebar" class="container clearfix">
	<ul>
	{% if page.next %}
        <li class="prev" title="{{page.next.title}}"><a href="{{ site.baseurl }}{{page.next.url}}">&lt;</a></li>
	{% else %}
		<li class="prev"><a class="currentpage" href="###">&nbsp;</a></li>
    {% endif %}

  
 	{% if page.previous %}
        <li class="next" title="{{page.previous.title}}"><a href="{{ site.baseurl }}{{page.previous.url}}">&gt;</a></li>
	{% else %}
		<li class="next"><a class="currentpage" href="###">&nbsp;</a></li>
    {% endif %}

	</ul>
</div>
