<div id="pagebar" class="container clearfix">
	<ul>
  {% if paginator.previous_page %}
	{% if paginator.previous_page ==1%}
	  <li class="prev"><a href="{{ site.baseurl }}/">&lt;</a></li>
	{% else %}
      <li class="prev"><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}">&lt;</a></li>
	{% endif %}
  {% else %}
	 <li class="prev"><a href="###">&nbsp;</a></li>
  {% endif %}
  
  {% if paginator.next_page %}
      <li class="next"><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">&gt;</a></li>
	  {% else %}
	  <li class="next"><a href="###">&nbsp;</a></li>
  {% endif %}

	</ul>
</div>