---

---

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link href="{{ site.rp }}css/common.css" rel="stylesheet" type="text/css"/>
	<script>document.createElement("nav");</script>
	<title>yokoboy 友情链接</title>
    <link href="{{ site.rp }}css/friendlinks.css" rel="stylesheet" type="text/css"/>
</head>
<body>

{% include nav.html %}

<div id="links" class="container clearfix">

    <div class="link clearfix">
        <div class="friend-head" style="">
            <img src="{{ site.rp }}friendlinks/com.dullong.jpg">
        </div>
        <div class="friend-info">
            <p class="frined-link"><a href="http://www.dullong.com/" target="_blank">啪啪列表</a></p>

            <p class="intro">龙哥:专注于爬虫原创分享.</p>
        </div>
    </div>


    <div class="link odd">
        <div class="friend-head" style="">
            <img src="{{ site.rp }}friendlinks/com.3niukou.jpg">
        </div>
        <div class="friend-info">
            <p class="frined-link"><a href="http://3niukou.com/" target="_blank">3纽扣</a></p>

            <p class="intro">潇姐</p>
        </div>
    </div>

    <div class="link">
        <div class="friend-head" style="">
            <img src="{{ site.rp }}friendlinks/com.kyyblabla.jpg">
        </div>
        <div class="friend-info">
            <p class="frined-link"><a href="http://www.cnblogs.com/kyyblabla" target="_blank">巴拉巴拉</a></p>

            <p class="intro">岩岩</p>
        </div>
    </div>

    <div class="link odd">
        <div class="friend-head" style="">
            <img src="{{ site.rp }}friendlinks/com.sixangel.jpg">
        </div>
        <div class="friend-info">
            <p class="frined-link"><a href="http://sixangel.com/" target="_blank">softdyp</a></p>

            <p class="intro">小董</p>
        </div>
    </div>

</div>

{% include footer.html %}
</body>
{% include parallax.js.html %}
 
</head>